a {
    -webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}

a:hover {
    -webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
    color: red;
}

.skill-set {
    position: relative;
    display: inline-block;
    max-height: 150px;
    margin-top: 50px;
    text-align: center;
    -webkit-transition:all .75s ease;
	-moz-transition:all .75s ease;
	-o-transition:all .75s ease;
	transition:all .75s ease;
    opacity: .75;
}

.skill-set:hover {
    -webkit-transition:all .75s ease;
	-moz-transition:all .75s ease;
	-o-transition:all .75s ease;
	transition:all .75s ease;
    opacity: 1;
}

.page-skills img, .page-education img, .page-experience img {
    max-height: 150px;
    box-shadow: 5px 5px 10px #aaa;
}

#experience-container {
    padding: 0 50px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #aaa;
}

.page-education h3, .page-experience h3{
    font-size: 2.5em;
}

.page-experience .col-md-6 {
    margin-bottom: 60px;
}

#experience-container article {
    vertical-align: top;
}